/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c7b488;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hide default checkbox */
.menu-toggle {
  display: none;
}

/* Menu icon (burger) */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Intro Section */
.intro {
  padding: 2rem;
  background-color: #c7b488;
  align-items: normal;
  font-size: large;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 24px;
  font-display: auto;
}

.intro-content img {
  width: 150px;
  height: 150px;
  border-radius: 999px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.intro-content p {
  max-width: 600px;
}

/* Portofolio Section */
.page {
  padding: 2rem;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio-grid img {
  max-width: 470px;
  border: 1px solid #ccc;
}

/* WhatsApp Button */
.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-button {
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Responsive: mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #d4ec84;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-links li {
    margin: 1rem 0;
    text-align: center;
  }

  .menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }
}
